* {
    font-family: 'Segoe UI Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clickable:hover {
    background-color: rgba(128, 128, 128, 0.5);
    user-select: none;
}

.clickable:active {
    opacity: 50%;
}