html, body, body > div {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

.margin > * {
    margin: 5px;
}

.vbox {
    display: flex;
    flex-direction: column;
}

.vbox-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.hbox {
    display: flex;
    flex-direction: row;
}

.hbox-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.filler {
    flex: 1;
}